@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
h1,h2,h3{
  font-family: 'Poiret One', cursive;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
.mono{
  font-family: 'Ubuntu Mono', monospace;
}
.w100{
  width: 100%;
}
